/*
* my_pdf_3d_FlipBook
* Version 1.0.0 Built on 2023.08.24
*
*		GLOBAL RESET
*
* Contributor(s): Aigars Kokins
*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, button {
  margin: 0;
}
